body {
    background-color: rgb(220, 220, 220);
}
li {
    padding: 3px;
}
li:nth-child(even) {
    background-color: lightgray;
}
li:nth-child(odd) {
    background-color: darkgray;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}